@media (max-width: 768px) {
    .header {
        padding-inline: 15px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header-menu-link {
        height: 25px;
    }
    .header-menu-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
    }
    .header-menu-search {
        height: 50px;
    }
}

